
swiftmi_oc.xcodeproj/xcuserdata/wings.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

swiftmi_oc.xcodeproj/project.xcworkspace/xcuserdata/wings.xcuserdatad/UserInterfaceState.xcuserstate

Pods/Pods.xcodeproj/xcuserdata/lixiaomeng.xcuserdatad/xcschemes/AFNetworking.xcscheme

*.xcscheme

Pods/Pods.xcodeproj/xcuserdata/lixiaomeng.xcuserdatad/xcschemes/xcschememanagement.plist

swiftmi_oc.xcodeproj/project.xcworkspace/xcshareddata/swiftmi_oc.xccheckout

swiftmi_oc.xcodeproj/project.xcworkspace/xcuserdata/lixiaomeng.xcuserdatad/UserInterfaceState.xcuserstate

swiftmi_oc.xcodeproj/xcuserdata/lixiaomeng.xcuserdatad/xcschemes/xcschememanagement.plist
